*{
    font-family: "Poppins", sans-serif;
}
.font-bangla{
     font-family: "Hind Siliguri", sans-serif;
}
.navbar-end{
    box-sizing: border-box;
    border: 1px solid rgba(66, 42, 213, 1);
    border-radius: 4px;
}
.navbar{
    box-sizing: border-box;
    border: 1px solid rgba(198, 189, 189, 1);
    backdrop-filter: blur(40px);
    background: rgba(186, 222, 255, 0.26);
}
.hover-btn:hover{
    background-color: rgba(66, 42, 213, 0.1);
}